.ap-hidden {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

.ap-link {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }

    &:focus {
        outline-width: 3px;
        outline-style: dotted;
    }
}

.ap-blue {
    color: $ap-blue;
}
