/* Base Colors */
$ap-purple: rgba(42, 0, 42, 1 );
$ap-violet: rgba(96, 92, 168, 1 );
$ap-blue: rgba(4, 71, 134, 1);
$ap-bright-blue: rgba(0, 255, 255, 1);
$ap-behance-blue: rgba(0, 174, 239, 1);
$ap-white: rgba(255, 255, 255, 1);
$ap-gray: rgba(242, 242, 242, 1);
$ap-gray-2: rgba(193, 193, 193, 1);
$ap-black: rgba(51, 51, 51, 1);
