@import 'responsive';

@mixin text-big-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 4rem;
    line-height: 1em;

    @include breakpoint(xs) {
        font-size: 2.5rem;
    }

    ::ng-deep .ap-fout & {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

@mixin text-body {
    @include sans-serif-fout;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
}

@mixin text-body-mono {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1em;

    ::ng-deep .ap-fout & {
        font-family: 'Courier New', Courier, monospace;
    }
}

@mixin text-body-subtitle {
    @include sans-serif-fout;
    font-family: 'Roboto', sans-serif;
    font-size: 2.25rem;
    line-height: 1em;
}

@mixin text-body-subtitle-black {
    @include text-body-subtitle;
    @include sans-serif-fout;
}

@mixin text-body-subtitle-italic {
    @include text-body-subtitle;
    @include sans-serif-fout;
    font-style: italic;
}

@mixin sans-serif-fout {
    ::ng-deep .ap-fout & {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.ap-text-big-title {
    @include text-big-title;
}

.ap-text-body {
    @include text-body;
}

.ap-text-body-subtitle {
    @include text-body-subtitle;
}

.ap-text-body-subtitle-black {
    @include text-body-subtitle-black;
}

.ap-text-body-subtitle-italic {
    @include text-body-subtitle-italic;
}

.ap-text-mono {
    @include text-body-mono;
}
