@import '../grid';
@import '../responsive';
@import '../layout';

.ap-container {
    @include ap-grid;
    height: var(--root-height);
    max-width: $ap-layout__max;
    margin: 0 auto;

    @include breakpoint(xs) {
        max-width: calc(100vw - 20px);
        height: auto;
        padding: 5rem 30px;
    }
}