$ap-line-break__icon: 2rem;

.ap-line-break {
    display: block;
    font-size: $ap-line-break__icon;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    position: relative;
    animation-duration: 0.75s;
    animation-name: bounceIn;

    &::before,
    &::after {
        content: '';
        display: block;
        border-bottom: 1px solid $ap-white;
        width: calc(50% - #{$ap-line-break__icon});
        position: absolute;
        top: 50%;
        right: calc(50% + #{$ap-line-break__icon});
        transform: translateY(-50%);
        animation-name: lineAnimation;
        animation-timing-function: ease-in-out;
        animation-duration: 0.52s;
    }

    &::after {
        left: calc(50% + #{$ap-line-break__icon});
        right: auto;
    }
}

@keyframes lineAnimation {
    0% {
        width: 0;
    } 

    100% {
        width: calc(50% - #{$ap-line-break__icon});
    }
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}