@import '../styles/colors';
@import '../styles/grid';
@import '../styles/layout';
@import '../styles/typography';
$ap-about__transtion-time: 36;
$ap-about__container: 700px;

:host {
    @include ap-host($ap-white, $ap-blue);
    @include ap-caret($ap-purple);
    min-height: $ap-about__container;
}

.ap-about__container {
    padding: 0 20px;
    min-height: $ap-about__container;

    @include breakpoint(xs) {
        padding: 10vh 30px;
    }
}

.ap-about__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 6;
    transform: rotate(0.05deg);
}

.ap-about__hello {
    @include text-body-subtitle-black;
    @include text-body-subtitle-italic;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.5em;

    &.ap-about__hello_small {
        font-size: 2rem;
        padding: 0 0 0 2rem;
        text-transform: inherit;
        line-height: inherit;
    }
}

.ap-about__splash {
    grid-column-start: 6;
    grid-column-end: 12;
    position: relative;

    @include breakpoint(xs) {
        height: 50vh;
    }
}

.ap-about__plasta {
    height: 100vh;
    position: absolute;
    width: 100%;

    @include breakpoint(xs) {
        height: 50vh;
    }
        
    @for $i from 1 through 4 {
        $initial-delay: -2 * ($i - 4);

        &.ap-about__plasta_#{$i} {
            background: url('/assets/#{$i}plasta.png');
            background-repeat: no-repeat;
            background-position: center center;
            animation-name: plastabg;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 8s;
            animation-delay: #{$initial-delay}s;

            @include breakpoint(xs) {
                background-size: 100% 100%;
            }
        }
    }
}

@keyframes plastabg {
    0% { opacity: 1; } 
    17% { opacity: 1; } 
    25% { opacity: 0; } 
    92% { opacity: 0; } 
    100% { opacity: 1; }
}
