@import '../styles/colors';
@import '../styles/grid';
@import '../styles/layout';
@import '../styles/typography';
@import '../styles/responsive';

:host {
    @include ap-host($ap-white,$ap-violet);
    @include ap-caret($ap-gray);
}

.ap-contact__content {
    margin: 10rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 12;
    transform: rotate(0.05deg);

    @include breakpoint(xs) {
        margin: 0;
    }
}

.ap-contact__header {
    text-align: center;
}

.ap-contact__title {
    @include text-body-subtitle-black;
    font-size: 2rem;
    line-height: 0;

    @include breakpoint(xs) {
        font-size: 1.5rem;
    }

    &.ap-contact__title_small {
        font-size: 1.25rem;

        @include breakpoint(xs) {
            font-size: 1rem;
        }
    }

    &.ap-contact__title_large {
        font-size: 2.5rem;
        padding: 0 0 20px;

        @include breakpoint(xs) {
            font-size: 1.75rem;
        }
    }

    &.ap-contact__title_italic {
        @include text-body-subtitle-italic;

        @include breakpoint(xs) {
            font-size: 1.75rem;
            line-height: 1;
        }
    }
}

.ap-contact__list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);;
    margin: 50px 0 0;
    padding: 0;
    list-style: none;

    @include breakpoint(xs) {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

.ap-contact__link {
    display: block;
    height: 100%;
    width: 100%;
    outline: none;

    &.ap-contact__link_enabled,
    &:hover,
    &:focus {
        .ap-contact__item-text {
            visibility: visible;
            animation-name: bounceItem;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            transform-origin: center bottom;
        }
    }
}

.ap-contact__item {
    text-align: center;
    font-size: 5rem;
    position: relative;
    cursor: pointer;

    @include breakpoint(xs) {
        font-size: 2rem;
    }
}

.ap-contact__item-text {
    @include text-body-subtitle-black;
    display: block;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    background: $ap-white;
    color: $ap-violet;
    font-size: 1.3rem;

    @include breakpoint(xs) {
        font-size: 1.1rem;
        padding: 10px 0;
        background: none;
        color: $ap-white;
    }

    &:after {
        content: '';
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $ap-white;
        position: absolute;
        top: 1px;
        left: 50%;
        transform: translate3d(-50%, -100%, 0) rotate(180deg);
    }
}

@keyframes bounceItem {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      /* Keep the order otherwise the transition origin gets broken */
      transform: translateX(-50%) scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      transform: translateX(-50%) scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: translateX(-50%) scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      transform: translateX(-50%) scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: translateX(-50%) scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      transform: translateX(-50%) scale3d(1, 1, 1);
    }
  }
