@import '../styles/colors';
@import '../styles/grid';
@import '../styles/layout';
$ap-intro__logo: 12.5rem;

:host {
    @include ap-host($ap-white, $ap-purple);
}

.ap-intro__logo {
    background: url('/assets/logo.png');
    height: $ap-intro__logo;
    width: $ap-intro__logo;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-name: fadeIn;
    animation-duration: 0.75s;

    @include breakpoint(xs) {
        height: 125px;
        width: 125px;
    }

    @include landscape {
        height: 125px;
        width: 125px;
    }
}

.ap-intro__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 8;
    transform: rotate(0.05deg);

    @include breakpoint(xs) {
        padding: 2.5rem 0;
    }
}

.ap-intro__subtitle {
    margin: 10px 0 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $ap-white;

    @include breakpoint(xs) {
        font-size: 1.1rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}