@import '../styles/colors';
@import '../styles/grid';
@import '../styles/typography';
@import '../styles/layout';
@import '../styles/responsive';
@import '../styles/hamburgers/hamburgers';
$ap-menu__height: 105px;
$ap-menu-transition: 0.4s ease;

:host {
    @include ap-layout;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: rgba($ap-black, 0);
    position: fixed;
    width: 100vw;
    max-width: 100vw;
    color: $ap-white;
    height: $ap-menu__height;
    z-index: 10;
    transition: all $ap-menu-transition;

    @include breakpoint(xs) {
        max-width: 100vw;

        .ap-menu__logo,
        .ap-menu__item {
            display: none;
        }
    }
}

:host-context(.ap-menu_small) {
    @include breakpoint(md) {
        height: $ap-menu__height * (2 / 3);
        transition: all $ap-menu-transition;

        .ap-menu__item {
            transition: font-size $ap-menu-transition;
            font-size: 0.9rem;
        }
    }
}

:host-context(.ap-menu_overlay) {
    @include breakpoint(md) {
        transform: translate3d(-50%, -80%, 0);
        background: rgba($ap-white, 1);
        color: $ap-black;
        transition: transform $ap-menu-transition, background $ap-menu-transition;
        filter: drop-shadow(0 0 10px rgba($ap-black, 0.5));
        cursor: pointer;
    
        &.ap-menu_overlay_focused,
        &:hover {
            transform: translate3d(-50%, 0, 0);
    
            .ap-menu__item {
                &.ap-menu__item_selected,
                &:hover {
                    background: $ap-blue;
                    color: $ap-white;
                }
            }
        }
    
        .ap-menu__logo {
            opacity: 1;
            transition: opacity $ap-menu-transition;
        }
    }
}

:host-context(.ap-menu_mobile-overlay) {
    height: 100vh;
    background: rgba($ap-black, 1);
    color: $ap-white;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ap-menu__logo {
        display: block;
        opacity: 1;
        position: static;
        font-size: 3rem;
        margin: 0 0 50px;
    }

    .ap-menu__item {
        @include text-body;
        font-size: 1.4rem;
        display: block;
        text-align: center;
        padding: 20px;
        width: 100vw;
        height: auto;
    }
}

.ap-menu__burger {
    display: none;

    &:visited,
    &:link {
        color: $ap-white;
    }

    @include breakpoint(xs) {
        display: block;
        font-size: 1.7rem;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
        width: 40px;
        height: 40px;
        filter: drop-shadow(0.05em 0.05em $ap-black);
    }
}

.ap-menu__logo {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 2rem;
    opacity: 0;
    transition: opacity $ap-menu-transition;

    &::after {
        content: 'Ale Alexander';
    }
}

.ap-menu__item {
    @include text-body-subtitle;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transform: rotate(0.05deg);
    padding: 0 20px;

    &.ap-menu__item_selected,
    &:hover {
        background: $ap-white;
        color: $ap-purple;
    }
}

.ap-menu__about {
    grid-column-start: 6;
}
