@import '../styles/colors';
@import '../styles/grid';
@import '../styles/layout';
@import '../styles/typography';
@import '../styles/responsive';
$ap-line-break__icon: 2rem;
$ap-gallery__title--width: calc(100vw - 160px - 20px);

%ap-gallery_item-content {
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    opacity: 1;
}

:host {
    @include ap-host($ap-black, $ap-gray);
    @include ap-caret($ap-blue);
    min-height: var(--root-height);
    height: auto;
}

.ap-gallery__title {
    @include text-body-subtitle-black;
    @include text-body-subtitle-italic;
    position: relative;
    font-size: 2rem;
    margin: 0 0 0.5em;
    text-transform: inherit;
    line-height: inherit;
    overflow: hidden;

    @include breakpoint(xs) {
        padding: 0 20px;
    } 

    &.ap-gallery__title_grow {
        &::before {
            content: '';
            display: block;
            border-bottom: 1px solid $ap-black;
            width: 100vw;
            position: absolute;
            top: 50%;
            left: 160px;
            transform: translateY(-50%);
            animation-name: galleryAnimation;
            animation-timing-function: ease-in-out;
            animation-duration: 0.52s;

            @include breakpoint(xs) {
                width: $ap-gallery__title--width;
                animation-name: galleryMobileAnimation;
            }
        }
    }
}

@keyframes galleryAnimation {
    0% {
        width: 0;
    } 

    100% {
        width: 100vw;
    }
}

@keyframes galleryMobileAnimation {
    0% {
        width: 0;
    } 

    100% {
        width: $ap-gallery__title--width;
    }
}

.ap-gallery__container {
    min-height: var(--root-height);
    height: auto;

    @include breakpoint(xs) {
        padding: 5rem 0 0;
        max-width: 100vw;
    }    
}

.ap-gallery__content {
    margin: 10rem 0 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 12;
    transform: rotate(0.05deg);

    @include breakpoint(xs) {
        margin: 0;
        max-width: 100vw;
    }
}

.ap-gallery__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include breakpoint(xs) {
        display: block;
    }
}

.ap-gallery__item {
    position: relative;
    overflow: hidden;
    color: $ap-white;
    height: calc(35rem / 2);
    transition: box-shadow 0.35s ease;

    @include breakpoint(xs) {
        height: calc(35rem / 3);
    }

    &.ap-gallery__item_enabled,
    &:hover {
        box-shadow: 0 0 40px rgba($ap-black, 0.5);
        transition: box-shadow 0.35s ease;

        .ap-gallery_item-content {
            @extend %ap-gallery_item-content;
        }
    }
}

.ap-gallery__link {
    display: block;
    background-size: 100% auto;
    background-position: center center;
    height: 100%;

    @include breakpoint(xs) {
        background-size: 100vw auto;
    }

    &:link {
        text-decoration-skip: ink;
    }

    &:focus,
    &:hover {
        filter: grayscale(1) contrast(2);
    }

    &:focus {
        + .ap-gallery_item-content {
            @extend %ap-gallery_item-content;
        }
    }
}

.ap-gallery_item-content {
    transition: all 0.35s ease;
    padding: 30px;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    background: rgba($ap-black, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    box-sizing: border-box;
}

.ap-gallery__item-title {
    @include text-body-subtitle-black;
    @include text-body-subtitle-italic;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.5em;
}

.ap-gallery__item-tags {
    @include text-body-subtitle-black;
    @include text-body-subtitle-italic;
    font-size: 1.2rem;
    color: $ap-bright-blue;
}

.ap-gallery__footer {
    text-transform: unset;
    text-align: right;
}

.ap-gallery__footer-link {
    @include breakpoint(xs) {
        display: block;
        margin: 0 auto;
        max-width: 17.5rem;
        text-align: center;
    }
}