<h3 class="ap-hidden">My Work</h3>
<div class="ap-container ap-gallery__container">
  <div class="ap-gallery__content">
    <div appVisible="ap-gallery__title_grow" class="ap-gallery__title">Portfolio</div>
    <div class="ap-gallery__grid">
      <div class="ap-gallery__item" *ngFor="let item of galleryItems">
        <a class="ap-gallery__link" [href]="item.link" [title]="item.title" [style.backgroundImage]="'url('+ item.imageUrl +')'">
          <span class="ap-hidden" [innerText]="item.title"></span>
        </a>
        <div class="ap-gallery_item-content">
          <span class="ap-gallery__item-title" [innerText]="item.title"></span>
          <span class="ap-gallery__item-tags" [innerText]="getTags(item.tags)" *ngIf="item.tags"></span>
          <span [innerText]="item.description" *ngIf="item.description"></span>
        </div>
      </div>
    </div>
    <p class="ap-gallery__item-title ap-gallery__footer">
      <a class="ap-link ap-gallery__footer-link" href="https://www.behance.net/alealexander">You can see more of my work over at
        <span class="ap-blue">Behance</span>.
      </a>
    </p>
  </div>
</div>